/*General,  to all elements*/
* {
    font-size: 14px;
    font-family: 'Segoe UI', Arial, sans-serif;  
}

body {
    text-align: justify;
}


hr {
    margin: 0;
}

/*Image welcome*/
#bg_welcome{
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

/*Header section*/
header{
    height: 4em;
    width: 85%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 3;
    overflow: hidden;
}

/*logotype section*/

/*svg logo*/
svg {
    width: 1.7em;
    height: 100%;
}

/*Name's micronation*/
header h1{
    margin: 0;
    margin: 1.35em;
}
header span{
    height: 100%;
    float: left;
}

/*navigation buttons, container*/
/*Navigator container mobile devices*/
header #nav2 {
    display: none;
}
/*Navigator 
container 
desktop devices*/
header #nav1{
    float: right;   
    height: 100%;
    width: auto;
}
/*Inner List's elements, links*/
header #nav1 ul li a{
    text-decoration: none;
}
/*List container*/
header #nav1 ul{
    height: 100%;
    margin: 0;
    right: 0;
    padding: 0;
}
/*List elements*/
header #nav1 li {
    list-style-type: none;
    list-style-position: inside;
    padding: 1.35em;
    float: right;
}

/*Main 
content*/
main {
    width: 85%;
    margin: auto;
    padding-bottom: 2em;
}

/*Article container of every section. 
dont need width cause there is an 
aside and main content settings*/
article {
    overflow: hidden;
    padding-right: 1em;
}


/*section's settings*/
section {
    padding: 2em;
}

/*The block that contains the image and paragraph of linked posts*/
section span {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: 0;
    display: block;
    margin: auto;
    margin-bottom: 1em;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
}

span:hover .heading_a{
    cursor: pointer;
    z-index: 2;
}

/*Heading*/
section .heading_a {
    position: relative;
    padding: 1em;
    margin: 0;
}

/*paragraph inside the blocks*/
.linkme p{
    overflow: hidden;
    padding-left: 1em;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 50%;
    margin-left: 40%;
}

span .summary{
    padding: 1em;
}

main img {
    width: 100%;
}


/*All you can learn about the micronation*/
#desk {
    padding-top: .5em;
    background-color: #ffffff;
    color: #000;
    display: block;
}

#desk:nth-last-child(n){
    padding: 1em;
}

/*Aside section-main*/
aside{
    float: right;
    width: 30%;
    background-color: #fff;
}

aside div div{
    padding: .5em;
    border: none;
}

aside div:nth-child(2) div{
    padding: 0;
}

aside div:nth-child(3){
    border: none;
}

/*Creator profile*/
aside img {
    border-radius: 50%;
    float: left;
    margin-right: .75em;
    padding: -50%;
    width: 7em;
    height: 7em;
    object-fit: cover;
}

aside #who {
    margin-bottom: 3em;
}

/*Old posts*/
aside #buttonlist {
    cursor: pointer;
}

aside .dropbtn2{
    border: none;
    cursor:pointer;
    padding: .75em;
    margin: auto;
    width: 100%;
}

.mylist_content2{
    display: none;
    min-width: 160px;
}
.mylist_content2 ul li{
    list-style-type: none;
}

.mylist_content2 ul{
    padding: .5em;
    margin: 0;
}

.mylist_content2 a{
    text-decoration: none;
}

.show2 {
    display: block;
}

/*Footer section*/

footer{
    width: 85%;
    margin: auto;
    border-width: 0;
    height: 14em;
    padding: 0;
    margin-bottom: 0;
}

/*change language*/

footer span:nth-child(1){
    text-align: center;
    height: 6%;
    padding: .5em;
}

footer span:nth-child(1) button{
    border: none;
}

footer p{
    margin: 0;
}

footer a {
    text-decoration: none;
}

footer span{
    width: 100%;
    display: block;

}

/*Contact details*/
/*External links or contact*/
footer span:nth-child(2){
    width: 50%;
    float: left;
    height: 62%;
}
/*Information about members*/
footer span:nth-child(3){
    float: right;
    width: 50%;
    height: 62%;
}

/*Creative commons*/
footer #cc {
    text-align: center;
    padding: 1em;
}

footer span:nth-child(4){
    margin: 0;
    float: left;
    height: auto;
}


/*WHEN THE WEBSITE IS VIEW ON A MOBILE DEVICE*/
@media only screen and (max-width:700px) {
    header{
        overflow: visible;
    }

    header {
        float: left;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    header #nav1{
        display: none;
    }
    
    header #nav2{
        display: inline;
    }
    
    header .dropbtn{
        border-style: double;
        border-right: 0;
        cursor:pointer;
        float: right;
        margin-top: 5em;
        position: fixed;
        right: 0;
        padding: .75em;
        border-radius: 0;
    }
    
    .mylist_content{
        display: none;
        position: fixed;
        z-index: 4;
        min-width: 160px;
        right: 0;
        margin-top: 5em;
    }
    .mylist_content ul li{
        list-style-type: none;
    }

    .mylist_content ul{
        padding: .5em;
    }

    .mylist_content a{
        text-decoration: none;
    }

    .show {
        display: block;
    }
    

    aside {
        float: none;
        width: 100%;
        border-bottom: 2px solid;
    }
    article {
        padding-right: 0;
    }
    /*Footer section*/

    footer{
        float: left;
        left: 0;
        position: absolute;
        width: 100%;
        margin: auto;
        border-width: 0;
        height: 15.5em;
        padding: 0;
        margin-bottom: 0;
    }

/*change language*/

footer #langs{
    text-align: center;
    height: auto;
}

footer p{
    padding: 1em;
    margin: 0;
}

footer a {
    text-decoration: none;
}

footer span{
    width: 100%;
    display: block;

}

/*Contact details*/
footer #information{
    width: 50%;
    float: left;
    height: 40%;
}

footer #contact{
    float: right;
    width: 50%;
    text-align: right;
    height: 40%;
}

/*Creative commons*/
footer #cc {
    text-align: center;
    padding: 1em;
}

footer .fa {
    padding: 1em;
    display: block;
}

footer span:nth-child(4){
    margin: 0;
    float: left;
    height: auto;
}
}

@media only screen and (max-width:400px){
    main{
        width: 100%;
    }
    header {
        float: left;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}