* {
    font-size: 14px;
    font-family: 'Segoe UI', Arial, sans-serif;  
}

body {
    background-color: #efefef;
    text-align: justify;
}

#img1 {
    margin: auto;
    width: 85%;
    align-items: center;
}

#img1 img{
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    width: 80%;
}
/*Header section*/
header{
    height: 4.2em;
    width: 90%;
    margin: 1em auto;
    top: 0;
    color: #fff;
    background-color: #0c9dfd;
    z-index: 3;
    overflow: hidden;
    border: 1px solid black;
}

/*logotype section*/

/*svg logo*/

#log{
    stroke: #ffffff;
    fill:none;
    stroke-width:5.29167;
    stroke-dasharray:none;
    stroke-opacity:1;
    transform: translateY(-2.75em);
    
}

svg {
    width: 1.7em;
    height: 100%;
}

/*Name's micronation*/
header h1{
    margin: .5em 0 .5em 0;
    padding: 1em;
}

header span{
    height: 100%;
    float: left;
}

/*navigation buttons*/
/*Navigator container*/
header #nav2 {
    display: none;
}

header #nav1{
    float: right;   
    width: auto;
    height: 100%;
}

/*Inner List's elements*/
header #nav1 ul li a{
    text-decoration: none;
    color: white;
}

/*List elements*/
header #nav1 ul{
    margin: 0;
    right: 0;
}


header #nav1 li {
    list-style-type: none;
    list-style-position: inside;
    float: right;
    padding: .75em;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
}

header #nav1 ul li:hover{
    background-color: #3f3f3f;
    
}

/*Main 
content*/
main {
    width: 90%;
    margin: auto;
    padding-bottom: 2em;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #000;
    margin-bottom: 1rem;
}

article {
    overflow: hidden;
    border-right: 1px solid #000;
}

/*The block that contains the description of the page*/
section{
    background-color: #ffffff;
}

#section_1 {
    padding: .75em;
    
}

/*hr*/
#separator{
    border: 1px solid;
    box-shadow: none;
    margin: 0;
}

/*The block that contains the image and paragraph of linked posts*/
.linkme{
    padding-top: .5em;
    color: #000;
    display: block;
}

section span {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: 0;
    display: block;
    margin: auto;
    margin-bottom: 1em;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
}

section hr {
    width: 95%;
}

span:hover .heading_a{
    cursor: pointer;
    z-index: 2;
}

/*Heading*/
section .heading_a {
    position: relative;
    padding: 1em;
    margin: 0;
}

/*paragraph inside the blocks*/
.linkme p{
    overflow: hidden;
    padding-left: 1em;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 50%;
}

span .summary{
    color: #ffffff;
    text-shadow: 1px 2px #000000;
    padding: 1em;
}

span .summary img{
    width: 40%;
    float: right;
}

main img {
    width: 100%;
}


/*All you can learn about the micronation*/
#desk {
    padding-top: .5em;
    background-color: #ffffff;
    color: #000;
    display: block;
}

#desk:nth-last-child(n){
    padding: 1em;
}

/*Aside section-main*/
aside{
    float: right;
    width: 30%;
    background-color: #fff;
    height: auto;
}

aside div div{
    padding: .5em;
    border: none;
}


aside div:nth-child(2) div{
    padding: 0;
}

aside div:nth-child(3){
    border: none;
}

/*Creator profile*/
aside img {
    border-radius: 50%;
    float: left;
    margin-right: .75em;
    padding: -50%;
    width: 7em;
    height: 7em;
    object-fit: cover;
}

aside #who {
    margin-bottom: 3em;
}

/*Old posts*/
aside #buttonlist {
    cursor: pointer;
}

aside div{
    border-bottom: #000 2px solid;
}

aside .dropbtn2{
    border: none;
    background-color: #fff;
    cursor:pointer;
    padding: .75em;
    margin: auto;
    width: 100%;
}

.mylist_content2{
    display: none;
    background-color: #efefef;
    min-width: 160px;
    color: #000;
}
.mylist_content2 ul li{
    list-style-type: none;
}

.mylist_content2 ul{
    padding: .5em;
    margin: 0;
}

.mylist_content2 a{
    text-decoration: none;
    color: #000;
}

.show2 {
    display: block;
}

/*Footer section*/

footer{
    background-color: #9b9b9b;
    width: 90%;
    margin: auto;
    border: 1px solid black;
    height: 11.5em;
    padding: 0;
    margin-bottom: 0;
    color: #000;
}

/*change language*/

footer #langs{
    text-align: center;
    height: auto;
}

footer p{
    padding: 1em;
    margin: 0;
}

footer a {
    color: #efefef;
    text-decoration: none;
}

footer span{
    width: 100%;
    display: block;

}

/*Contact details*/
footer #information{
    width: 50%;
    float: left;
    height: 40%;
}

footer #contact{
    float: right;
    width: 50%;
    text-align: right;
    height: 40%;
}

/*Creative commons*/
footer #cc {
    text-align: center;
    padding: 1em;
}

footer .fa {
    padding: 1em;
    display: block;
}

footer span:nth-child(4){
    margin: 0;
    float: left;
    height: auto;
}

/*When it is view at a mobile device*/
@media only screen and (max-width:700px) {
    /* #log{
        display: none;
        
    }
    
    svg {
        display: none;
    }
    
    
    /*Name's micronation*/
    header{
        overflow: visible;
    }
    /*header h1{
        display: none;
    }
    
    header span{
        display: none;
    }
        */

        header {
            float: left;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }

    header #nav1{
        display: none;
    }
    
    header #nav2{
        display: inline;
    }
    
    header .dropbtn{
        border-style: double;
        border-right: 0;
        background-color: #5c9d6a;
        color: #fff;
        cursor:pointer;
        float: right;
        margin-top: 5em;
        position: fixed;
        right: 0;
        padding: .75em;
        border-radius: 0;
    }
    header .dropbtn:hover, .dropbtn:focus{
        background-color: #3f3f3f;
        color: #fff;
    }
    .mylist_content{
        display: none;
        position: fixed;
        z-index: 4;
        background-color: #efefef;
        min-width: 160px;
        color: #000;
        right: 0;
        margin-top: 5em;
    }
    .mylist_content ul li{
        list-style-type: none;
    }

    .mylist_content ul{
        padding: .5em;
    }

    .mylist_content a{
        text-decoration: none;
        color: #000;
    }

    .show {
        display: block;
    }
    

    aside {
        float: none;
        width: 100%;
        border-bottom: 2px solid;
    }
    article {
        padding-right: 0;
    }
    /*Footer section*/

    footer{
        float: left;
        left: 0;
        position: absolute;
        background-color: #919191;
        width: 100%;
        margin: auto;
        border-width: 0;
        height: 15.5em;
        padding: 0;
        margin-bottom: 0;
        color: #efefef;
    }

/*change language*/

footer #langs{
    text-align: center;
    height: auto;
}

footer p{
    padding: 1em;
    margin: 0;
}

footer a {
    color: #efefef;
    text-decoration: none;
}

footer span{
    width: 100%;
    display: block;

}

/*Contact details*/
footer #information{
    width: 50%;
    float: left;
    height: 40%;
}

footer #contact{
    float: right;
    width: 50%;
    text-align: right;
    height: 40%;
}

/*Creative commons*/
footer #cc {
    text-align: center;
    padding: 1em;
}

footer .fa {
    padding: 1em;
    display: block;
}

footer span:nth-child(4){
    margin: 0;
    float: left;
    height: auto;
}
}

@media only screen and (max-width:400px){
    main{
        width: 100%;
    }
    header {
        float: left;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}