* {
    font-size: 14px;
    font-family: 'Segoe UI', Arial, sans-serif;  
}

body {
    background-color: #efefef;

}

/*hr*/
hr{
    border: 1px solid;
}

/*Header section*/

header{
    color: #fff;
    background-color: #5c9d6a;
}

/*logotype section*/

/*svg logo*/

#log{
    stroke: #ffffff;
    fill:none;
    stroke-width:5.29167;
    stroke-dasharray:none;
    stroke-opacity:1;
    transform: translateY(-2.75em);
}

/*Name's micronation*/

/*Inner List's elements*/
header #nav1 ul li a{
    color: white;
}

/*List elements*/

header #nav1 ul li:hover{
    background-color: #3f3f3f;
}



/*Main 
content*/


/*The block that contains the description of the page*/
#section_1 {
    background-color: #b4b4b4;
    color: #000;
}

/*The block that contains the image and paragraph of linked posts*/
.linkme{
    padding-top: .5em;
    color: #000;
}


span:hover .heading_a{
    background-color: #d3c7c7;
    color: #303030;
}

/*Heading*/
section .heading_a {
    background-color: #303030;
    color: #d3c7c7;
}

/*paragraph inside the blocks*/
span .summary{
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
    color: #ffffff;
    text-shadow: 1px 2px #000000;
}

/*All you can learn about the micronation*/
#desk {
    background-color: #ffffff;
    color: #000;
}

/*Aside section-main*/
aside{
    background-color: #fff;
}

aside div:nth-child(1) div{
    background-color: #b4b4b4;
}

aside div:nth-child(2) div{
    background-color: #d68b00;
    color: #fff;
}

/*Creator profile*/

/*Old posts*/
aside #buttonlist {
    background-color: #fff;
    color: #d68b00;
}

aside div{
    border-bottom: #000 2px solid;
}

aside .dropbtn2{
    background-color: #d68b00;
    color: #fff;
}

.mylist_content2{
    background-color: #efefef;
    color: #000;
}

.mylist_content2 a{
    color: #000;
}

/*Footer section*/

footer{
    background-color: #3f3f3f;
    color: #efefef;
}

/*change language*/

footer span:nth-child(1) button{
    background-color: #efefef;
    color: #3f3f3f;
}

footer li{
    list-style-type: none;
}

footer a {
    color: #efefef;
    text-decoration: none;
}

/*When it is view at a mobile device*/
@media only screen and (max-width:700px) {
    /* #log{
        display: none;
        
    }
    
    svg {
        display: none;
    }
    
    
    /*Name's micronation*/
    header{
        overflow: visible;
    }
    /*header h1{
        display: none;
    }
    
    header span{
        display: none;
    }
        */

        header {
            float: left;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }

    header #nav1{
        display: none;
    }
    
    header #nav2{
        display: inline;
    }
    
    header .dropbtn{
        border-style: double;
        border-right: 0;
        background-color: #5c9d6a;
        color: #fff;
        cursor:pointer;
        float: right;
        margin-top: 5em;
        position: fixed;
        right: 0;
        padding: .75em;
        border-radius: 0;
    }
    header .dropbtn:hover, .dropbtn:focus{
        background-color: #3f3f3f;
        color: #fff;
    }
    .mylist_content{
        display: none;
        position: fixed;
        z-index: 4;
        background-color: #efefef;
        min-width: 160px;
        color: #000;
        right: 0;
        margin-top: 5em;
    }
    .mylist_content ul li{
        list-style-type: none;
    }

    .mylist_content ul{
        padding: .5em;
    }

    .mylist_content a{
        text-decoration: none;
        color: #000;
    }

    .show {
        display: block;
    }
    

    aside {
        float: none;
        width: 100%;
        border-bottom: 2px solid;
    }
    article {
        padding-right: 0;
    }
    /*Footer section*/

    footer{
        float: left;
        left: 0;
        position: absolute;
        background-color: #3f3f3f;
        width: 100%;
        margin: auto;
        border-width: 0;
        height: 15.5em;
        padding: 0;
        margin-bottom: 0;
        color: #efefef;
    }

/*change language*/

footer #langs{
    text-align: center;
    height: auto;
}

footer p{
    padding: 1em;
    margin: 0;
}

footer a {
    color: #efefef;
    text-decoration: none;
}

footer span{
    width: 100%;
    display: block;

}

/*Contact details*/
footer #information{
    width: 50%;
    float: left;
    height: 40%;
}

footer #contact{
    float: right;
    width: 50%;
    text-align: right;
    height: 40%;
}

/*Creative commons*/
footer #cc {
    text-align: center;
    padding: 1em;
}

footer .fa {
    padding: 1em;
    display: block;
}

footer span:nth-child(4){
    margin: 0;
    float: left;
    height: auto;
}
}

@media only screen and (max-width:400px){
    main{
        width: 100%;
    }
    header {
        float: left;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}